.doQuestionPage{
  //background: #F7F0DE;
  .title{
    color:black;
    margin-bottom:48px;

  }
  .options-wrapper{
    margin-bottom: 48px;
  }
//选项
  .controlBtn{
    margin:24px 48px;

  }

}

